@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
}

*{
    margin: 0;
}

.universal{
    background-color: black;
    color: white;
}

.container{
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;  
}

/* --------Banner and nav bar---------- */
.banner{
    background-color: rgba(255, 255, 255, 0.030);
    margin-top: 2px;
}

/* ----------Nav Bar styles---------- */
.fitness{
    color: rgba(230, 83, 60, 1);
    font-size: 36px;
}
.nav{
    margin-top: 40px;
    margin-left: 115px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
}
.nav-options{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 10px;
    display: flex;
    margin-right: 90px;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}
.nav-color{
    background-color: rgba(230, 83, 60, 1);
    border-radius: 46%;
    padding: 5px;
}

/* -------------banner styles---------------- */
.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 115px; 
}

.banner-content h1{
    font-size: 70px;
    margin-bottom: 20px;
}

.banner-content{
    margin-bottom: 60px;
    font-size: 12px;
}
.extra-font{
                                                  
}

.btn-1{
    padding: 10px 40px;
    background-color: #E6533C;
    color: white;
    border-radius: 50px;
    border: none;
    margin-top: 15px;
}

.btn-2{
    padding: 10px 40px;
    color: white;
    border-radius: 50px;
    border-color: #918f8f;
    background-color: #111111;
}

.banner-img {
    margin-right: 80px;
}
.workout-point{
    font-size: 40;
}
.workout{
    font-size: 13px;
}
.tutorial{
    font-size: 24px;
}

/* ------------------Habit Style----------------- */
.habit-container{
    text-align: center;
}
.habit-content{
    text-align: center;
}

.habit-content h1{
    font-size: 40px;
}

.habit-content p{
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.habit-image-section{
    margin-top: 90px;
    display: flex;
}

.habit-image{
    border-radius: 100px;
    margin-left: 90px;
}

.habit-heading{
    text-align: center;
    margin-top: 10px;  
    margin-left: 80px; 
}
.habit-para{
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 60px;
}

/* -----------------Run styles--------------- */
.extra-run{
    background-color: rgba(255, 255, 255, 0.235);
    height: 371px;  
    width: 1060px; 
}
.run{
    display: flex;
    justify-content: space-between;
}
.run-content{
    margin-top: 41px;
    margin-left: 54px;
}
.run-content h1{
    font-size: 48px;
    margin-bottom: 14px;
}
.join-btn{
    padding: 10px 40px;
    background-color: #E6533C;
    color: white;
    border-radius: 50px;
    border: none;
    margin-top: 60px;
}
.run-img img{
    width: 320px;
    height: 300px;
    border-radius: 15px;
    margin-top: 38px;
    margin-right: 40px;
}

/* ------------------BMI styles----------------- */
.bmi-heading{
    text-align: center;
}
.bmi-calc{
    margin-top: 88px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 440px;
    display: flex;
    justify-content: space-between;
}
.bmi-table{
    margin-left: 135px;
    
}
.bmi-heading h1{
    font-size: 48px;
}
.bmi-table h1{
    margin-top: 52px;
    font-size: 28px;
}
.table{
    margin-top: 50px;
}
.td-font{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
/* -----------------input------------- */
.input-content{
    margin-right: 135px;
}
.input-heading h1{
    margin-top: 52px;
    font-size: 28px;
}
.input-heading p{
    margin-top: 14px;
    font-size: 14px;
}
.bmi-input{
    margin-top: 34px;
}
.form-1{
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
}
.form-2{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.bmi-form{
    background-color:  rgba(255, 255, 255, 0.1);
    padding: 10px 40px;
    border: none;
    border-radius: 8px;
    margin-bottom: 12px;
    color: rgba(255, 255, 255, 0.5);
}
.sex-form{
    background-color:  rgba(255, 255, 255, 0.1);
    padding: 10px 103px;
    border: none;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.5);
}
.activity{
    background-color:  rgba(255, 255, 255, 0.1);
    padding: 10px 170px;
    border: none;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.5);
}
/* -----------------meet style----------- */
.meet-trainer{
    background-color:  rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    padding: 20px;
    height: 600px;
    width: 1060px;
    margin: 0 auto;
}
.meet-content h1{
    text-align: center;
    font-size: 48px;
    margin-bottom: 14px;
}
.meet-content p{
    text-align: center;
    font-size: 14px;
    margin-bottom: 58px;
}
.row-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.row-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    
}
.trainer img{
    border-radius: 10px;
    height: 272px;
    width: 326px;
}

.info{
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* ---------------footer style------------- */
.footer-section{
    background-color: rgba(255, 255, 255, 0.1);
    height: 489px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
    margin-left: 135px;
    margin-right: 135px;
}
.fit h1{
    color: rgba(230, 83, 60, 1);
    font-size: 70px;
    margin-top: 66px;
    margin-bottom: 20px;
}
.fit p{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
.get-started-1{
    margin-top: 66px;
}
.get-started-2{
    margin-top: 66px;
}
.get-heading{
    margin-bottom: 39px;
    font-size: 32px;
}
.get-p{
    margin-bottom: 20px;
    font-size: 23px;
    color: rgba(255, 255, 255, 0.5);
}
.hr{
    margin-left: 135px;
    margin-right: 135px;
    margin-top: 79px;
    margin-bottom: 36px;
}
.reserved{
    text-align: center;
}
